
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Accedi">
                    <app-login></app-login>
                </mat-tab>
                <mat-tab label="Recupera Password">
                    <app-recupero></app-recupero>
                </mat-tab>
              </mat-tab-group>
        </div>
        <div class="col"></div>
    </div>
</div>
